---

    -   name: Create schema for laravel
        shell: mysql -u root -p'root' -e "CREATE SCHEMA laravel DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;"

    -   name: Create DB User laravel
        shell: mysql -u root -p'root' -e "CREATE USER 'laravel'@'localhost' IDENTIFIED BY 'laravel';"

    -   name: Grant Privs to User laravel
        shell: mysql -u root -p'root' -e "GRANT ALL PRIVILEGES ON laravel.* TO 'laravel'@'localhost';"
    
    -   name: Alter Privs to User laravel
        shell: mysql -u root -p'root' -e "ALTER USER laravel@'localhost' IDENTIFIED WITH mysql_native_password BY 'laravel';"
        when:
            - os_check.stdout | regex_search("Ubuntu 20")


    -   name: Create a Laravel Project
        shell: composer create-project --prefer-dist laravel/laravel laravel
        args:
            chdir: /var/www/

    -   name: set DB_DATABASE
        lineinfile: dest=/var/www/laravel/.env regexp='^DB_DATABASE=' line=DB_DATABASE=laravel

    -   name: set DB_USERNAME
        lineinfile: dest=/var/www/laravel/.env regexp='^DB_USERNAME=' line=DB_USERNAME=laravel

    -   name: set DB_PASSWORD
        lineinfile: dest=/var/www/laravel/.env regexp='^DB_PASSWORD=' line=DB_PASSWORD=laravel

    -   name: Grant Permissions
        file:
            path: /var/www/laravel
            recurse: yes
            owner: www-data
            group: www-data
            mode: '0755'
        when:
            - os_check.stdout | regex_search("Ubuntu") 

    -   name: Grant Permissions
        file:
            path: /var/www/laravel
            recurse: yes
            owner: nginx
            group: nginx
            mode: '0755'
        when:
            - os_check.stdout | regex_search("CentOS")

    -   name: Sets nginx conf file - Ubuntu
        become: true
        template:
            src: "laravel.conf.j2"
            dest: "/etc/nginx2/sites-available/laravel.conf"
        when:
                - os_check.stdout | regex_search("Ubuntu")

    -   name: Enable Laravel config
        command: a2ensite laravel.conf
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Disable default config
        command: a2dissite 000-default.conf
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Install PHP Packages
        apt: 
            name: "{{ item }}" 
            update_cache: yes 
            state: present
        loop: 
            - php-cli
            - php-common
            - php-mbstring
            - php-gd
            - php-intl
            - php-xml
            - php-mysql
            - php-zip
            - php-curl
            - php-xmlrpc
            - php-gd
            - php-zip
            - php-curl
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Restart Nginx
        service:
            name: nginx
            state: restarted
        when:
            - os_check.stdout | regex_search("Ubuntu")

    -   name: Sets Nginx conf file - CentOS
        become: true
        template:
            src: "laravel.conf.j2"
            dest: "/etc/httpd/conf.d/laravel.conf"
        when:
                - os_check.stdout | regex_search("CentOS")

    -   name: Install PHP Packages
        yum: 
            name: "{{ item }}" 
            update_cache: yes 
            state: present
        loop: 
            - php-mcrypt
            - curl
            - zlib
            - php-gd
            - php-mbstring
            - php-xml
            - php-mysql
            - php-zip   
        when:
            - os_check.stdout | regex_search("CentOS Linux 8")

    -   name: Enable remi repo - CentOS 7
        command: yum-config-manager --enable remi-php74
        when: 
            - os_check.stdout | regex_search("CentOS Linux 7")

    -   name: Install PHP Packages
        yum: 
            name: "{{ item }}" 
            update_cache: yes 
            state: present
        loop: 
            - curl
            - zlib
            - php-gd
            - php-mbstring
            - php-xml
            - php-zip
            - php-pdo_mysql
        when:
            - os_check.stdout | regex_search("CentOS Linux 7")

    -   name: Restart Nginx
        service:
            name: nginx
            state: restarted
        when:
            - os_check.stdout | regex_search("CentOS")

    # -   name: Granting Permissions
    #     file:
    #         path: /var/www/laravel
    #         recurse: yes
    #         owner: www-data
    #         mode: '0777'
    #     when:
    #         - os_check.stdout | regex_search("Ubuntu") 

    # -   name: Granting Permissions
    #     file:
    #         path: /var/www/laravel
    #         recurse: yes
    #         owner: nginx
    #         mode: '0777'
    #     when:
    #         - os_check.stdout | regex_search("CentOS") 

    # -   name: Disable SELinux
    #     selinux:
    #         state: disabled
    #     when:
    #         - os_check.stdout | regex_search("CentOS") 